<pagination-template #p="paginationApi" [id]="id" [maxSize]="maxSize" (pageChange)="pageChange.emit($event)">
    <ul class="pagination" role="navigation" *ngIf="!(autoHide && p.pages.length <= 1)">

        <li [class.disabled]="p.isFirstPage()">
            <a *ngIf="1 < p.getCurrent()" (click)="p.previous()" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
            <a *ngIf="p.isFirstPage()" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>

        <li [class.active]="p.getCurrent() === page.value" *ngFor="let page of p.pages">
            <a (click)="p.setCurrent(page.value)" *ngIf="p.getCurrent() !== page.value">
                {{ page.label }}
            </a>
            <a *ngIf="p.getCurrent() === page.value">
                {{ page.label }}
                <span class="sr-only">(current)</span>
            </a>
        </li>

        <li [class.disabled]="p.isLastPage()">
            <a *ngIf="!p.isLastPage()" (click)="p.next()">
                <span aria-hidden="true">&raquo;</span>
            </a>
            <a *ngIf="p.isLastPage()">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    </ul>
</pagination-template>
