{% extends "base.html" %}

{% load i18n article_tags %}

{% block container %}
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-7 col-md-offset-1">
        <div>
          <header>
            <h1>{{ category.title }}</h1>
            {{ category.description }}
          </header>

          <hr>

          <section class="articles-list">
            {% for article in articles_list %}
              <article>
                <a href="{% url 'articles:article_detail' article.slug %}" class="title">{{ article.title }}</a>

                <p class="description">
                  {% if article.description %}
                    {{ article.description | truncatechars:200 }}
                  {% else %}
                    {{ article.content | apply_markdown | safe | striptags | truncatechars:200 }}
                  {% endif %}
                </p>
              </article>
            {% endfor %}
          </section>
        </div>
      </div>

      <div class="col-md-3">
        <div class="well">
          <strong>Latest Articles</strong>
          {% recent_articles %}
        </div>
      </div>

    </div>
  </div>

{% endblock container %}
