{% extends "base.html" %}

{% load i18n article_tags %}

{% block container %}
  {% url 'categories:detail' article.category.slug as category_url %}
  {% include 'includes/page_header.html' with category_url=category_url category_title=article.category.title article_title=article.title %}

  <div class="container-fluid">
    <div class="row ml-2 mr-2">
      <div class="col-md-9">
        <article class="mb-4">
          <header class="mb-4">
            <h1>{{ article.title }}</h1>
            {% if article.description  %}<p>{{ article.description }}</p>{% endif %}
          </header>
          <div class="card card-default mb-5">
            <div class="card-body">
              {{ article.content | apply_markdown | safe }}
            </div>
            <div class="card-footer">
              <ul class="list-unstyled mb-0">
                <li>
                  <strong>Updated on</strong> <time pubdate="pubdate">{{ article.modified }}</time>
                </li>
                <li>
                  <strong>{% trans "Category" %}:</strong> <a href="{% url 'categories:detail' article.category.slug %}">{{ article.category.title }}</a>
                </li>
                <li>
                  <ul class="list-inline">
                    {% for tag in article.tags.names %}
                      <li class="list-inline-item">
                        <span class="badge badge-pill badge-primary">{{ tag }}</span>
                      </li>
                    {% endfor %}
                  </ul>
                </li>
              </ul>
            </div>
          </div>

          <div class="card bg-light" id="voting-box">
            <div class="card-body">
              {% trans "Was this article helpful?" %}
              <a id="upvote-link" href="{% url 'articles:article_upvote' article.slug %}">
                {% trans 'Yes' %}
              </a>
              |
              <a id="downvote-link" href="{% url 'articles:article_downvote' article.slug %}">
                {% trans 'No' %}
              </a>

              {% if article.vote_total %}
                <strong class="ml-4">
                  {% blocktrans with upvotes=article.total_upvotes totalvotes=article.total_upvotes|add:article.total_downvotes %}{{ upvotes }} out of {{ totalvotes }} found this helpful{% endblocktrans %}
                </strong>
              {% endif %}
            </div>
          </div>
        </article>
      </div>

      <div class="col-md-3">
        <div class="card bg-light">
          <div class="card-body">
            <h5 class="card-title">Latest Articles</h5>
            {% recent_articles %}
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock container %}
