{% extends "base.html" %}

{% load i18n article_tags %}

{% block navcss %} home{% endblock %}

{% block container %}
  <div class="home-header bg-primary pt-5 pb-5">
    <div class="container-fluid text-center mt-3 mb-5">
      <div class="col-md-6 mx-auto">
        <h1 class="text-white mb-4">How can we help you?</h1>

        <div class="input-group mb-3">
          <input class="form-control border-0" type="text" name="search" placeholder="Have a Question?  Ask or enter a search term here." required/>
          <div class="input-group-append">
            <button class="btn btn-light" type="submit">
              Search
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid bg-light pt-5">
    <div class="row ml-2 mr-2">
      <div class="col-md-9">
        <div class="row">
          {% for category in categories_list %}
          <div class="col mb-4">
            <a href="{% url 'categories:detail' category.slug %}">
              <h2 class="text-dark">{{ category.title }}</h2>
            </a>
            <div class="description">{{ category.description }}</div>
          </div>

          {% if forloop.counter|divisibleby:2 %}
          <div class="w-100"></div>
          {% endif %}

          {% endfor %}
        </div>
      </div>

      <div class="col-md-3">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Latest Articles</h5>
            {% recent_articles %}
          </div>
        </div>
      </div>

    </div>
  </div>
{% endblock container %}
