.page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 0;
}

.wrapper.toggled .page-content-wrapper {
    position: absolute;
    margin-right: -$sidebar-width;
}

@media(min-width: 768px) {
    .page-content-wrapper {
        padding: 0;
        position: relative;
    }
    .wrapper.toggled .page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}
