.toolbar {
    background-color: #fff;
    border-bottom: 1px solid #e7ebf0;
    display: block;
    margin-bottom: 10px;
    padding: 10px 16px;

    h1 {
        font-size: 18px;
        margin: 0;
    }

    small {
      margin-bottom: 10px;
    }
}
